{% extends "base.twig" %}

{% block content %}
<div>
    <section>
        <div>
            <div>
                <div>404 Error</div>
                <h1>Oops!</h1>
                <p>Sorry about that... we can't seem to find the page you're looking for.</p>
                <a title="Back to homepage" href="/">
                    <span>Return Home</span>
                </a>
            </div>
        </div>
    </section>
</div>
{% endblock %}
