{% extends "base.twig" %}

{% block content %}
    <section class="hero">
        <h1>{{ testimonial.title }}</h1>
    </section>

    <section class="content">
        {% include './partials/cards/card-testimonial.twig' with {'testimonial': testimonial} %}
    </section>

    <section class="paragraphs">
        {% if testimonial.paragraphs %}
            {% for paragraph in testimonial.paragraphs %}
                {% include './partials/paragraphs/paragraphs.twig' %}
            {% endfor %}
        {% endif %}
    </section>

    {% block footer %}
        {% include './partials/general/footer.twig' %}
    {% endblock %}

    <hr/>
    <pre class="dump">
    {{ dump(testimonial) }}
    </pre>
    <hr/>
{% endblock %}
