$colors-brand: (
    primary: (
        '300': #56c7b4,
        '400': #30b9a3,
        '500': #1cab93,
        '600': #189e86,
        '700': #148d75
    )
);

$colors-gray: (
    primary: (
        '50': #f7f7f7,
        '100': #eee,
        '200': #e2e2e2,
        '300': #d0d0d0,
        '400': #ababab,
        '500': #8a8a8a,
        '600': #636363,
        '700': #505050,
        '800': #323232,
        '900': #121212
    )
);

$colors-status: (
    success: (
        '200': #dff0d8,
        '500': #3c763d
    ),
    info: (
        '200': #d9edf7,
        '500': #31708f
    ),
    warning: (
        '200': #fcf8e3,
        '500': #8a6d3b
    ),
    error: (
        '200': #f2dede,
        '500': #a94442
    )
);
