
const
    getArg = require('./lib/getArg'),
    destFolder = getArg('--build') ? '../web/wp-content/themes/testje' : '../web/wp-content/themes/testje',
    env = getArg('--build') ? 'production' : 'development';

module.exports = {
    'root': {
        'src': './src',
        'dest': destFolder,
        'env': env
    },

    'tasks': {
        'browserSync': {
            'proxy': 'http://testje.local/',
            'open': 'local'
        },
        'static': {},
        'jsonData': {},
        'fonts': {},
        'css': {},
        'themeTwig': {},
        'themeLayout': {},
        'themePhp': {},
        'themeAcf': {},
        'images': {},
        'svgsprite': {},
        'production': {},
        'eslint': {},
        'stylelint': {},
        'scripts': {
            'babel': {
                'presets': [['es2015', { 'modules': false }]],
                'plugins': []
            },
        }
    }
};
